.reviewCard__container, .comments__section{
    width: 80vw;
    min-width: 300px;
    max-width: 80ch;

    margin: 5vh auto;
}

.reviewCard__container{
    padding: 20px;
}

.comments__section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-color: rgb(233, 233, 233);
    padding: 20px;
}

.comments__card{
    padding: 5px 20px;
}