a {
  text-decoration: none !important;
}

.right {
  float: right;
}

.absolute-center {
  position: absolute;
  left: 50vw;
  top: 30vh;
}

.relative-center {
  margin: 5vh 0 0 45%;
}

.grid-center {
  display: grid;
  place-items: center;

  height: 50vh;
}
