.header {
  background-color: #eb1c23;
  color: white;
  text-align: left;

  display: flex;
  user-select: none;
}

.header__h1 {
  color: white;

  cursor: pointer;
  user-select: none;
  margin: 7.5px 0 7.5px 10px;

  width: fit-content;
}

.header__button {
  cursor: pointer;

  border: none;
  border-radius: 0.25rem;

  color: white;
  background-color: #eb1c23;
  font-size: 24px;
  transition: all 0.3s;
}

.header__button:hover {
  color: white;
  background-color: #a8080e;
}

.header__align_right {
  display: grid;
  place-items: center;
  height: auto;
  width: 125px;

  margin: 0 15px 0 auto;
}
