.display__grid {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
}

.display__card {
  min-height: 200px;
  width: 80vw;
  min-width: ;
  max-width: 900px;

  margin: 30px auto;

  background-color: #fcadaf;
  border: 1px solid black;
}
