.display__grid {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
}

.display__card {
  min-height: 200px;
  width: 80vw;
  max-width: 80ch;

  text-align: left;
  margin: 30px auto;
  padding: 20px;

  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s;
}

.display__card:hover{
  background-color: rgb(240, 240, 240);
}

.display__image{
  height: 100px;
}
