.display__grid {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
}

.display__card {
  min-height: 200px;
  width: 80vw;
  max-width: 80ch;

  text-align: left;
  margin: 30px auto;
  padding: 20px;

  background-color: white;
  filter: drop-shadow(0 10px 6px #1f1f1f07);
  transition: all 0.3s;
}

.display__image{
  width: 100%;
}

.display__body{
  margin: 20px 0 30px 0;
}

.display__title{
  margin: 0;
}

.remove_bold{
  font-weight: normal;
}

.display__container--spacebetween{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .display__card{
    width: 100vw;
    margin: 30px 0;
  }
}
