.navigationBar{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin: 10px 0  ;
}

.navigationBar__display{
    display: flex;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
}